.header{
    background-color: #bbded6;
    color: #fff;
    height: 90px;
}

.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li{
    float: left;
    padding: 33px 20px;
}

body{
    font-family: "Hiragino Kaku Gothic Pro";
}

li{
    list-style: none;
}

.main{
    padding: 100px 80px;
}

.copy-container h1{
    font-size: 60px;
    color: #8ac6d1;
    text-align: center;
}

.copy-container h2{
    font-size: 40px;
    color: darkgray;
    text-align: center;
}

.contact-form{
    padding-top: 100px;
    text-align: center;
}

.contact-submit{
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #dee7ec;
    color: #889eab;
    border-style: none;
}

.footer{
    background-color: #8ac6d1;
    color: white;
    height: 120px;
    padding: 40px;
}

.footer-logo{
    float: left;
    font-size: 32px;
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}